.App {
  text-align: center;
  max-width: 560px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 3px;
  border-color: royalblue;
  /*background-image: url("");
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;*/
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

