h1 {
    color: orange;
}

.btn-group {
    width: 100%;
    border: yellow;
    border-width:  5px;
}

.btn {
    width: 50%;
}

.btn-dark {
    color: #fff;
    background-color: rgb(13, 26, 202);
    border-color: black;
    border-width: 2px;
}