h1 {
    color: coral;
}

.btn-group {
    width: 100%;
    border-width:  5px;
}

.btn-nav {
    width: 50%;
	background-color: royalblue;
    border-color: cornflowerblue;
    border-width: 1px;
}

.fas {
	color: lightsalmon;
}

.navbar {
    padding: 0;
    padding-bottom: 5px;
}
