h1 {
    color: orange;
}

.btn-group {
    width: 100%;
    border-width:  5px;
}

.btn {
    width: 50%;
}

.btn-dark {
    color: #fff;
    background-color:royalblue;
    border-color: black;
    border-width: 1px;
}