#loginBtn {
    background-color: rgba(255, 166, 0, 0.85);
    color: white;
    font-style: bold;
    /* border-color: black; */
}

#loginBtn:hover {
    background-color: orange;
    color: white;
    font-style: bold;
    border-color: black;
}

#link {
    color: orange;
}