#title {
    /* color: orange;*/
    font-family: 'Monoton';
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: blue; */
    /* text-shadow: 1px 1px royalblue; */ 
    /*/
}

.Nav
    {
        -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
        animation: mymove 6s infinite;
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mymove {
        50% {text-shadow: 5px 5px 5px royalblue;}
    }
    
    /* Standard syntax */
    @keyframes mymove {
        50% {text-shadow: 2px 2px 4px royalblue;}
    }

#profile-pic-icon {
    width: 50px;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-lg {
    height: 100%;
    width: 60px;;
    padding: 5%;
}

