/*@import url('https://fonts.googleapis.com/css?family=Merienda');*/
@import url('https://fonts.googleapis.com/css?family=Gaegu');

#title {
    /* color: orange;*/
    /*font-family: 'Monoton';*/
    font-weight: 500;

    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 60px;
    /*font-family: 'Merienda', cursive;*/
    font-family: 'Gaegu', cursive;

    /* background-color: blue; */
    /* text-shadow: 1px 1px royalblue; */ 
    /*/
}

.Nav
    {
        -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
        animation: mymove 6s infinite;
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mymove {
        50% {text-shadow: 5px 5px 5px royalblue;}
    }
    
    /* Standard syntax */
    @keyframes mymove {
        50% {text-shadow: 2px 2px 4px royalblue;}
    }

#profile-pic-icon {
    width: 80%;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.col-8 {
    padding: 0;
}

.col-4 {
    padding: 2%;
}

.btn-lg {
    height: auto;
    width: 80px;
    padding: 0%;
    align-items: center;
}


