#image-preview {
    height: 200px;
    width: 200px;
    border: none;
}

#submit-btn {
    /*background-color: transparent;
    color: coral;*/
    background-color: lightsalmon;
    border-color: transparent;
}

#submit-btn:hover {
	background-color: coral;
}
